body {
  background-color: #fff;
}

div {
  margin: 0 auto;
}

#bread-up {
  border-bottom: solid 3px rgb(104, 71, 0);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#bread-down {
  border-top: solid 3px rgb(104, 71, 0);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.bread {
  height: 50px;
  width: 300px;
  background-color: rgb(228, 193, 147);
}

#meat {
  background-color: brown;
  height: 50px;
  width: 400px;
  border-radius: 20px;
}
